project:
  title: "Stan Reference Manual"
  type: book

bibliography: [../bibtex/all.bib]
biblio-style: apalike
toc: true
toc-depth: 2

format:
  pdf:
    latex-tinytex: false
    block-headings: false
    pdf-engine: "pdflatex"
    latex-engine: "pdflatex"
    latex-auto-install: true
    documentclass: book
    subtitle: "Version {{< env STAN_DOCS_VERSION >}}"
    include-in-header: "../header.tex"
    toc-title: "Table of Contents"
    highlight-style: tango
    syntax-definitions:
      - ../quarto-config/stan.xml
    keep-tex: false
    colorlinks: true
    linkcolor: darkblue
    urlcolor: darkblue
    citecolor: darkgreen

book:
  title: "Stan Reference Manual"
  author: "Stan Development Team"
  search: true

  chapters:
    - index.qmd
    - part: "Language"
      chapters:
        - encoding.qmd
        - includes.qmd
        - comments.qmd
        - whitespace.qmd
        - types.qmd
        - expressions.qmd
        - statements.qmd
        - blocks.qmd
        - user-functions.qmd
        - transforms.qmd
        - syntax.qmd
        - execution.qmd
        - deprecations.qmd
        - removals.qmd

    - part: "Algorithms"
      chapters:
        - mcmc.qmd
        - analysis.qmd
        - optimization.qmd
        - pathfinder.qmd
        - variational.qmd
        - laplace.qmd
        - laplace_embedded.qmd
        - diagnostics.qmd

    - part: "Usage"
      chapters:
        - reproducibility.qmd
        - licenses.qmd

    - references.qmd
