html {
  scroll-padding-top: 70px; /* height of header */
}

/* quarto website styling */

@media (min-width: 1020px) {
  .navbar-brand-container {
    margin-right: 1em;
  }
}

@media (max-width: 1060px) and (min-width: 991.98px) {
  #navbarCollapse ul:last-of-type a.nav-link {
    padding-left: 0.25em;
    padding-right: 0.25em;
  }

  .navbar #quarto-search {
    margin-left: 0.1em;
  }
}

@media (min-width: 991.98px) {
  #quarto-header {
    border-bottom: 1px solid;
  }
}

.navbar-brand > img {
  max-height: 36px;
}

.btn-action-primary {
  color: var(--stan-bg);
  background-color: var(--stan-secondary) !important;
}

.btn-action-primary:hover {
  color: white;
}

#btn-docs {
  background-color: var(--stan-highlight);
}

.btn-action {
  min-width: 165px;
  border-radius: 30px;
  border: none;
}

/* stan-dev custom styling */

a {
  color: var(--stan-secondary);
}
a.nav-link.active {
  color: var(--stan-secondary);
}
a.sidebar-item-text.sidebar-link.active {
  color: var(--stan-secondary);
}
.sidebar.a.active {
  color: var(--stan-secondary);
}

div [data-bs-target^="#quarto-sidebar-section"] {
  font-weight: bold;
  font-style: italic;
  color: var(--stan-secondary);
}

code {
  white-space: inherit;
  color: var(--bs-dark-warm);
  background-color: var(--stan-bg);
}

code:not(.sourceCode) {
  color: var(--bs-dark-warm);
  background-color: var(--stan-bg);
}

p code {
  white-space: inherit;
  color: var(--bs-dark-warm);
  background-color: var(--stan-bg);
}

p code:not(.sourceCode) {
  color: var(--bs-dark-warm);
  background-color: var(--stan-bg);
}

li code:not(.sourceCode) {
  color: var(--bs-dark-warm);
  background-color: var(--stan-bg);
}

td code:not(.sourceCode) {
  color: var(--bs-dark-warm);
  background-color: var(--stan-bg);
}

pre {
  word-break: normal;
  word-wrap: normal;
  color: var(--bs-dark-warm);
  background-color: var(--stan-bg);
}
pre code {
  white-space: inherit;
  margin: 0;
  padding: 0;
  color: var(--bs-dark-warm);
  background-color: var(--stan-bg);
}

pre.sourceCode {
  white-space: inherit;
  margin: 0;
  padding: 0;
  color: var(--bs-dark-warm);
  background-color: var(--stan-bg);
}

#quarto-appendix {
  color: var(--bs-dark-warm);
  background-color: var(--stan-bg);
}

.align-equations {
  text-align: left;
  margin-left: 2em; /* Adjust as needed */
}

.book .book-body .page-wrapper .page-inner section.normal pre {
  font-family: "Lucida Console", Monaco, Menlo, monospaced;
  margin-left: 2em;
  margin-below: 0.6em;
  margin-above: -0.3em;
  padding: 0;
}

.sidebar.sidebar-navigation > * {
  padding-top: 0em;
}

#quarto-sidebar
  > div.sidebar-menu-container
  > ul
  > li:nth-child(1)
  > div
  > a
  > span {
  font-weight: bold;
  font-style: italic;
  font-size: 1.3em;
  color: var(--stan-secondary);
  margin-above: -20em;
  padding: 0;
}

/* quarto landing page styling */

.content-block {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

@media (min-width: 900px) {
  .content-block {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (min-width: 1200px) {
  .content-block {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-banner {
  position: relative;
  display: flex;
  justify-content: center;
  color: var(--stan-hero);
  background-color: var(--stan-hero-bg);
  border: 10px solid var(--stan-secondary);
}

.hero-banner h1 {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.hero-banner .content-block {
  padding-top: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto repeat(4, 1fr);
  gap: 0px;
  width: 80%;
}
.option {
  border: 1px solid var(--stan-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.option.selected {
  background-color: var(--stan-highlight);
  color: var(--stan-dark);
}
.option.disabled {
  cursor: not-allowed;
  color: var(--stan-highlight);
}
.grid-item {
  padding: 10px;
  border: 1px solid var(--stan-dark);
  color: var(--stan-dark);
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-left: 1px;
}

.flex-grid .col {
  flex: 1 1 100px;
  margin-top: 0.25rem;
}

/* when we think we're all on one line, remove the double bars */
@container (min-width: 500px) {
  .grid-item + .grid-item {
    border-left: none;
  }
}
/* otherwise, put a little space */
@container (max-width: 500px) {
  .flex-grid {
    gap: 0.25rem;
  }

  .flex-grid .col {
    margin-top: 0;
  }
}

.row-label {
  padding: 10px;
  color: var(--stan-dark);
  background-color: var(--stan-bg);
  font-weight: bold;
  text-align: left;
  width: 20%;
}

/*  on small screens */
@container (max-width: 700px) {
  /* Move the label above, rather than to the side */
  .row-label {
    flex-basis: 100%;
  }
}

.highlight-box {
  background-color: var(--stan-highlight);
  padding-left: 10px;
}

#install-grid,
#prerequsite-box,
#install-box {
  container-type: inline-size;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid var(--stan-dark); /* Adds top border to the table */
  border-bottom: 1px solid var(--stan-dark); /* Adds bottom border to the table */
}

th,
td {
  border: none; /* Removes borders from table cells */
  padding: 0.5em; /* Adjusts padding as needed */
}

thead th {
  background-color: var(--stan-bg);
  color: var(--stan-dark);
}

tbody td:first-child {
  background-color: var(--stan-bg);
  color: var(--stan-dark);
}


/* functions reference */
.index-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
}

a.unlink {
  color: inherit;
  text-decoration: none;
}

span.detail {
  font-size: small;
  color: var(--quarto-text-muted);
}
